
body{
    background: #f3f3f4;
}

.main-heading {
    color:#16425b;
}

.heading {
    background:#90b9d1;
}

.heading-a {
    color: #2e282a;
}

.hero {
    
}

.obrazek{
    
}

p {
    color: #34312d;
}

.secondary-heading {
    color: #3a7ca5;
}

.special-heading {
    color: #5b3000;
}