body {
    background: #fefefe;
    color: #333;
}

.header {
    color: yellow;
}

.heading {
    color: #4D62C1;
}

.sectionHeader, .diaryHeader {
    color: #448FFF;
}

.thirdHeader {
    color: #55A6E8;
}

.link {
    color: #02CDE0;
}

.footer {
    background: black;
    color: whitesmoke;
}